body {
    margin: 0;
    padding: 0;
}

/* Common Style */

.banner-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}


/* New Year Banner Section  */

.new-year-banner{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}
.new-year-banner-box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    
}
.new-year-banner-box >h1{
    text-align: center;
    margin-top: 0;
}
.new-year-banner-box >h3{
    text-align: center;
    margin-bottom: 0;
    padding-top: 200px;
    
}

/* Offer Section */
.offer-section {}

.offer-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-section h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 5px;
}

.offer-section h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.new-year-img {
    width: 800px;
    height: 500px;
    display: flex;
    margin: 50px auto;
}

/* Party Seciton style */

.party-section {
    background-image: url(../resources/Vectorrr.png);
    width: 1360px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 120px auto 0;
    display: flex;
}

.party-section img {
    width: 300px;
    height: 450px;
    padding: 65px 135px 65px 10px;
}

.party-section h1 {
    width: 640px;
    /* margin:1500px 265px; */
    padding: 126px 550px 350px 126px;
}